.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 16rem;
    }

    .card-img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        object-fit: cover;

        &:hover {
            transform: scale(1.1);
        }
    }

    .name {
        font-size: 1.1em;
        margin-top: auto;
        
    };

    .price {
        font-size: 1.2em;
        color: grey;
        margin-top: auto;
    }

    .addButton {
        padding: 1em;
        
        margin: auto;
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        border-radius: 10px;
        text-transform: uppercase;

        &:hover {
            transform: scale(1.1);
        }
    }


    .cart-icon {
        width: 20px;
        position: relative;
        right: .5em;
    }

    .review {
        display: flex;
        align-items: center; /* Align items vertically */
        justify-content: center; /* Align items horizontally */
        margin-bottom: 0.5em; /* Adjust margin as needed */
    }
}

@media only screen and (max-width: 600px) {
    .image-container {
        height: 10rem;
    }

    .name {
        font-size: 1rem;
    }

    .price {
        font-size: 0.875rem;
    }

    .review {
        font-size: 0.75rem;
    }
}
